:root {
  --font-family: "Roboto", sans-serif;
  --font-family-raleway: "Raleway", sans-serif;
  --color: #434455;
  --background-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --light-text-color: #f4f4fd;
  --accent-color: #e7e9fc;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  border: none;
}

body {
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.button {
  border: 1px solid #e7e9fc;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand-color);
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #f4f4fd;
}

/* PHONE SCREEN */

.container {
  /* min-width: 320px; */
  /* max-width: 428px; */
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

/* @media screen and (min-width: 428px;) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 768px;) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px;) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
} */

/* HEADER */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.darklogo {
  font-family: var(--font-family-raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pressed-state-color);
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.darklogo span {
  color: #2e2f42;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-list-item {
  position: relative;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding-bottom: 24px;
  padding-top: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .menu-list-item {
  font-weight: 400;
  color: var(--text-color);
}

.contacts {
  font-style: normal;
}
.menu-list-item:hover,
.menu-list-item:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--pressed-state-color);
}
.menu-list-item::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.menu-list-item.current::after {
  background-color: var(--pressed-state-color);
  bottom: -1px;
}

.current {
  color: var(--pressed-state-color);
}

.header-list-container,
.nav-header-container,
.contacts-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-header-container {
  position: relative;
}

.header-list-container {
  gap: 40px;
}

.contacts-list-container {
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-container:hover,
.contacts-list-container:focus {
  color: var(--pressed-state-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SECTION FIRST */

.section-first {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h-main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.btn-main {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-main:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.btn-main:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.buttons-section-first {
  margin-bottom: 72px;
}

.buttons-section-first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* SECTION SECOND */

.section-second {
  padding: 120px 0;
}

.section-second-h-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-second-p {
  line-height: 24px;
}

.section-second-h-third {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-second-list-container {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1158px) {
  .section-second-list-container {
    flex-direction: column;
  }
}

.section-second-list-images {
  flex-basis: calc(100% / 4);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

@media screen and (max-width: 1158px) {
  .section-second-list-images {
    align-items: center;
  }
}

.list-advantages-box {
  border-radius: 4px;
  margin-bottom: 8px;
  background: var(--cloud, #f4f4fd);
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1158px) {
  .list-advantages-box {
    display: none;
  }
}

/* SECTION THIRD */

.section-third-h-second {
  margin-bottom: 72px;
}

.section-third-list-images {
  display: flex;
  gap: 24px;
}

.section-third-list-images li {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-third-h-second {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.section-third {
  padding-bottom: 120px;
}

@media screen and (max-width: 1158px) {
  .section-third {
    display: none;
  }
}

/* SECTION FOURTH */

.section-fourth {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-fourth-h-second {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.section4 .list {
  background-color: #ffffff;
}
.section-fourth-h-third {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-fourth p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.section-fourth-list-li :hover .social-media-container {
  background-color: var(--pressed-state-color);
}

.section-fourth-h-third {
  margin-bottom: 8px;
}
.social-media-links {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-links:hover,
.social-media-links:focus {
  background-color: var(--pressed-state-color);
}
.social-media-container-list {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;
}

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms ease;
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  width: 100%;
}

.section-fourth-images {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1158px) {
  .section-fourth-images {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}

.section-fourth-list-li {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.try {
  fill: #f4f4fd;
}

/* SECTION FIFTH */

.section-fifth-h-second {
  color: var(--dark-color);
  line-height: 1.11;
  display: flex;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  justify-content: center;
}

.section-fifth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-logos-icons {
  fill: currentColor;
  transition: fill 250ms ease;
  width: 100%;
  height: 100%;
}

.customers-logos-icons:hover,
.customers-logos-icons:focus {
  fill: #404bbf;
}

.customers-list-logos {
  display: flex;
  width: 100%;
  gap: 24px;
}

.customers-logos {
  display: flex;
  flex-basis: calc((100% - 120px) / 6);
  height: 88px;
  border-radius: 4px;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1158px) {
  .customers-logos {
    flex-basis: calc((100% / 3) - (16px * 2));
    justify-content: center;
    /* max-width: 552px; */
  }
}

@media screen and (max-width: 768px) {
  .customers-logos {
    flex-basis: calc((100% / 2) - 16px);
    justify-content: center;
  }
}

/* PORTFOLIO PAGE */

.other {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.other:hover {
  background-color: var(--pressed-state-color);
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.other:focus {
  background-color: var(--pressed-state-color);
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
}

.portfolio-table-ani {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay-text,
.portfolio-card:focus .overlay-text {
  transform: translateY(0);
}

.portfolio-list-table:hover,
.portfolio-list-table:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.porfolio-list-li {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.porfolio-list-li:hover {
  color: #404bbf;
}

.porfolio-list-li:focus {
  color: #404bbf;
}
.portfolio-table-section-first {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-second {
  margin-bottom: 8px;
}

.portfolio-section-first {
  padding: 96px 0 120px 0;
}

.portfolio-list-table {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.customers-links {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-links:hover,
.customers-links:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--iris, #4d5ae5);
}

.overlay-text {
  display: flex;
  align-items: flex-start;
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODAL */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-h {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
}

.modal-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: var(--lightslate, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-inputs {
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
}

.form-input {
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.form-input-wrapper {
  position: relative;
}

.form-input:focus + .modal-btn-icon-inputs {
  fill: #4d5ae5;
}

.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.text-area {
  height: 120px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
}

.modal-inputs {
  fill: #2e2f42;
}

input[type="checkbox"]:checked ~ * .agreement-checkbox-icon {
  background-color: #404bbf;
}

.modal-btn-icon-inputs {
  fill: var(--dark-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  color: var(--lightslate, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  margin-bottom: 24px;
}

.privacy-link {
  color: var(--primary-brand-color);
}

.form-label-agreement {
  display: block;
  flex-direction: row;
  line-height: 1.17;
}

.agreement-link {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area::placeholder {
  color: #2e2f4266;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
  fill: #ffffff;
  border: none;
}

.modal-input-container {
  position: relative;
  margin-bottom: 8px;
}

.comment-container {
  margin-bottom: 16px;
}
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-agree {
  opacity: 0;
  pointer-events: none;
}

.checkbox-agree:checked ~ * .agreement-link {
  border: none;
  fill: var(--light-text-color);
  background-color: var(--pressed-state-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  color: var(--light-text-color);
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-text-sm {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.subscribe-button {
  fill: #fff;
}
.footer-span {
  color: var(--light-text-color);
}

.footer-links-icons:hover,
.footer-links-icons:focus {
  background-color: #31d0aa;
}

.footer-links-icons {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-all {
  align-items: baseline;
}
.footer-button {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 80px;
}

.footer-form-input {
  display: flex;
  flex-direction: row;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.footer-form-input:focus,
.footer-form-input:hover {
  border-color: var(--pressed-state-color);
}

.btn-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.footer-logo-container {
  align-items: baseline;
  margin-right: 120px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-icons {
  border-radius: 50%;
  background-color: #404bbf;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-media {
  width: 208px;
  gap: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}

footer .container {
  display: flex;
}

/* END */
